/* @import '@fontsource/fira-mono'; */

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* --font-mono: 'Fira Mono', monospace; */
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 79vw;
	font-size: 1em;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	/* font-size: inherit; */
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root {
	--nav-h: 6rem;
	--top-offset: 6rem;
	--sidebar-w: 30rem;
	--sidebar-mid-w: 36rem;
	--sidebar-large-w: 48rem;
	--main-width: 80rem;
	--side-nav: 2.4rem;
	--side-page: var(--side-nav);

	/* easings */
	--out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (min-width: 480px) {
	:root {
		--side-nav: 3.2rem;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--side-page: 14vw;
		--top-offset: 10rem;
		--side-nav: 4.8rem;
	}
}

/*	theme vars */
.theme-default {
	--back: #ffffff;
	--back-light: #f6fafd;
	--back-api: #e5eef5;
	--prime: #ff3e00;
	--second: #676778;
	--flash: #40b3ff;
	--highlight: #ffff82;
	--heading: #222;
	--text: #444;
	--second-text: #7b7766;
	--sidebar-text: rgba(255, 255, 255, 0.90);
	--border-w: 0.3rem; /* border-width  */
	--border-r: 0.4rem; /* border-radius */
}

/*	typo vars */
.typo-default {
	--code-fs: 1.3rem;
	--h6: 1.4rem;
	--h5: 1.6rem;
	--h4: 1.8rem; /* default font-size */
	--h3: 2.6rem;
	--h2: 3rem;
	--h1: 3.2rem;
	--linemax: 72rem; /* max line-length */
	--lh: 1.5; /* base line-height */
}

body {
	--font: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}

/*	fonts ---------------------------------- */
/* overpass-300normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	src: local('Overpass Light '), local('Overpass-Light'),
		url('/web3-repl-deploy/_app/immutable/assets/overpass-latin-300-3782c01a.woff2') format('woff2');
}

/* overpass-600normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	src: local('Overpass Bold '), local('Overpass-Bold'),
		url('/web3-repl-deploy/_app/immutable/assets/overpass-latin-600-0ca25556.woff2') format('woff2');
}

/* fira-mono-400normal - latin */
@font-face {
	font-family: 'Fira Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Mono Regular '), local('Fira Mono-Regular'),
		url('/web3-repl-deploy/_app/immutable/assets/fira-mono-latin-400-8d4e0c52.woff2') format('woff2');
}

/*	base reset ----------------------------- */
html {
	/* font-size: 62.5%; */
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}

html,
body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/*	link reset ----------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* a:hover, a:active { color: var(--flash) } */

/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/

/*	typography ----------------------------- */
body {
	font: 400 var(--h4) / var(--lh) var(--font);
	background-color: var(--back);
	color: var(--text);

	/* default spacing of Overpass is a bit too airy */
	/* letter-spacing: -.013em; */
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
	position: relative;
	margin: 0;
	color: var(--heading);
}

/* h1, h2, h3, h4, h5, h6 { font-weight: 600 } */
h6 {
	font-size: var(--h6);
}
h5 {
	font-size: var(--h5);
}
h4 {
	font-size: var(--h4);
}
h3 {
	font-size: var(--h3);
}
h2 {
	font-size: var(--h2);
}
h1 {
	font-size: var(--h1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font);
	line-height: 1.25;
	color: var(--heading);
}

h3 {
	font-weight: 300;
}

p,
ol,
ul {
	margin: 0 0 1em 0;
}

.b,
b,
strong {
	font-weight: 600;
}

tt,
code,
kbd,
samp {
	font: 400 var(--code-fs) / 1.7 var(--font-mono);
}

code {
	position: relative;
	border-radius: 0.3em;
	white-space: nowrap;
	color: #444;
	-webkit-font-smoothing: initial;
	padding: 0.4rem;
	margin: 0 0.2rem;
	top: -0.1rem;
	background: var(--back-api);
}

pre {
	overflow-x: auto;
}

pre code {
	top: 0;
	white-space: inherit;
	background-color: transparent;
	padding: 0;
	margin: 0;
	top: 0;
	background: transparent;
}

/* sync CodeMirror with prism  */
::selection {
	background: var(--flash);
	color: white;
}

/*	opinionated styles --------------------- */

li > h2 {
	color: var(--second);
}

blockquote {
	position: relative;
	margin: 1.6rem 0 2.4rem;
	padding: 2rem 2.4rem 1.8rem 2.4rem;
	max-width: var(--linemax);
}

blockquote p,
blockquote ul {
	font-size: var(--h5);
}

blockquote :last-child {
	margin: 0;
}

/*  buttons -------------------------------- */
button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
	color: currentColor;
	cursor: pointer;
}

button[disabled],
.btn[disabled],
.btn:hover[disabled] {
	opacity: 0.55;
	pointer-events: none;
}

button > svg,
.btn > svg {
	position: relative;
	top: -0.1rem;
	width: 2rem !important;
	height: 2rem !important;
	stroke: currentColor !important;
}

/*  reset ------- */
.btn {
	--btn-h: 4rem;
	--btn-outline: 0.2rem;
	--btn-font: var(--font);
	--btn-calc-h: calc(var(--btn-h) - var(--btn-outline) * 2);
	--btn-hover: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));

	position: relative;
	margin: 0 0.8rem 0.8rem 0;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	zoom: 1;
	border: none transparent;
	font: var(--h4) var(--btn-font);
	border-radius: var(--border-r);
	color: currentColor;
	cursor: pointer;
}

/*  default */
.btn {
	line-height: var(--btn-h);
	height: var(--btn-h);
	padding: 0 1.6rem;
	transition: all 0.1s;
}

.btn:hover {
	transform: scale(0.98);
	mix-blend-mode: multiply;
	background-image: var(--btn-hover);
}

/*  optional */
.btn[outline] {
	line-height: var(--btn-calc-h);
	height: var(--btn-calc-h);
	border: var(--btn-outline) solid currentColor;
	background-color: white;
	color: currentColor;
}

/*  links ------------------------------------- */
a {
	position: relative;
	padding: 0 0 1px 0;
	/* border-bottom: 1px solid currentColor; */
	color: var(--prime);
	/* transition: color .2s, border .2s, padding .2s; */
}

/* a:hover  {
	color: var(--flash);
} */

a:hover {
	/* padding: 0; */
	/* border-bottom: 2px solid currentColor; */
}

a.no-underline {
	border-bottom: none;
	padding: 0;
}

/* a:hover:not(.disabled) > .icon { stroke: var(--flash) } */

/*  lists ---------------------------------- */
.listify ol,
.listify ul {
	--list-padding: 2.9rem;

	list-style: none;
	color: currentColor;
	margin-left: var(--list-padding);
}

.listify ol > li,
.listify ul > li {
	max-width: calc(var(--linemax) - var(--list-padding));
	line-height: 1.5;
	margin: 0 0 0.5em 0;
}

.listify ul > li:before {
	content: '';
	position: absolute;
	margin-top: 1.1rem;
	margin-left: -1.8rem;
	background-color: var(--second);
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 2px;
	opacity: 0.7;
}

.listify ol {
	list-style: decimal;
}

/*  tables --------------------------------- */
table {
	width: 100%;
	font-size: var(--h5);
}

td,
th {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 0.4rem 0.8rem 0.4rem 0;
}

table code,
table span {
	white-space: pre;
}

/*	helper styles -------------------------- */
.flex-auto {
	flex: 1 0 auto;
}

.py0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.legend,
figcaption,
.post aside {
	max-width: none;
	margin: 0 auto;
	padding: 1.6rem 0 0 0.8rem;
	font: 1.2rem/1.6 var(--font-mono);
}

/* visually hidden, but accessible to assistive tech */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root {
	--nav-h: 6rem;
	--top-offset: 6rem;
	--sidebar-w: 30rem;
	--sidebar-mid-w: 36rem;
	--sidebar-large-w: 48rem;
	--main-width: 80rem;
	--side-nav: 2.4rem;
	--side-page: var(--side-nav);

	/* easings */
	--out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 480px) {
	:root {
		--side-nav: 3.2rem;
	}
}
@media screen and (min-width: 768px) {
	:root {
		--side-page: 14vw;
		--top-offset: 10rem;
		--side-nav: 4.8rem;
	}
}
/*	theme vars */
.theme-default {
	--back: #ffffff;
	--back-light: #f6fafd;
	--back-api: #e5eef5;
	--prime: #ff3e00;
	--second: #676778;
	--flash: #40b3ff;
	--highlight: #ffff82;
	--heading: #222;
	--text: #444;
	--second-text: #7b7766;
	--sidebar-text: rgba(255, 255, 255, 0.90);
	--border-w: 0.3rem; /* border-width  */
	--border-r: 0.4rem; /* border-radius */
}
/*	typo vars */
.typo-default {
	--code-fs: 1.3rem;
	--h6: 1.4rem;
	--h5: 1.6rem;
	--h4: 1.8rem; /* default font-size */
	--h3: 2.6rem;
	--h2: 3rem;
	--h1: 3.2rem;
	--linemax: 72rem; /* max line-length */
	--lh: 1.5; /* base line-height */
}
body {
	--font: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}
/*	fonts ---------------------------------- */
/* overpass-300normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	src: local('Overpass Light '), local('Overpass-Light'),
		url('/web3-repl-deploy/_app/immutable/assets/overpass-latin-300-3782c01a.woff2') format('woff2');
}
/* overpass-600normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	src: local('Overpass Bold '), local('Overpass-Bold'),
		url('/web3-repl-deploy/_app/immutable/assets/overpass-latin-600-0ca25556.woff2') format('woff2');
}
/* fira-mono-400normal - latin */
@font-face {
	font-family: 'Fira Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Mono Regular '), local('Fira Mono-Regular'),
		url('/web3-repl-deploy/_app/immutable/assets/fira-mono-latin-400-8d4e0c52.woff2') format('woff2');
}
/*	base reset ----------------------------- */
html {
	/* font-size: 62.5%; */
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}
html,
body {
	width: 100%;
	height: 100%;
}
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
/*	link reset ----------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
/* a:hover, a:active { color: var(--flash) } */
/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/
/*	typography ----------------------------- */
body {
	font: 400 var(--h4) / var(--lh) var(--font);
	background-color: var(--back);
	color: var(--text);

	/* default spacing of Overpass is a bit too airy */
	/* letter-spacing: -.013em; */
}
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
	position: relative;
	margin: 0;
	color: var(--heading);
}
/* h1, h2, h3, h4, h5, h6 { font-weight: 600 } */
h6 {
	font-size: var(--h6);
}
h5 {
	font-size: var(--h5);
}
h4 {
	font-size: var(--h4);
}
h3 {
	font-size: var(--h3);
}
h2 {
	font-size: var(--h2);
}
h1 {
	font-size: var(--h1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font);
	line-height: 1.25;
	color: var(--heading);
}
h3 {
	font-weight: 300;
}
p,
ol,
ul {
	margin: 0 0 1em 0;
}
.b,
b,
strong {
	font-weight: 600;
}
tt,
code,
kbd,
samp {
	font: 400 var(--code-fs) / 1.7 var(--font-mono);
}
code {
	position: relative;
	border-radius: 0.3em;
	white-space: nowrap;
	color: #444;
	-webkit-font-smoothing: initial;
	padding: 0.4rem;
	margin: 0 0.2rem;
	top: -0.1rem;
	background: var(--back-api);
}
pre {
	overflow-x: auto;
}
pre code {
	top: 0;
	white-space: inherit;
	background-color: transparent;
	padding: 0;
	margin: 0;
	top: 0;
	background: transparent;
}
/* sync CodeMirror with prism  */
::selection {
	background: var(--flash);
	color: white;
}
/*	opinionated styles --------------------- */
li > h2 {
	color: var(--second);
}
blockquote {
	position: relative;
	margin: 1.6rem 0 2.4rem;
	padding: 2rem 2.4rem 1.8rem 2.4rem;
	max-width: var(--linemax);
}
blockquote p,
blockquote ul {
	font-size: var(--h5);
}
blockquote :last-child {
	margin: 0;
}
/*  buttons -------------------------------- */
button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
	color: currentColor;
	cursor: pointer;
}
button[disabled],
.btn[disabled],
.btn:hover[disabled] {
	opacity: 0.55;
	pointer-events: none;
}
button > svg,
.btn > svg {
	position: relative;
	top: -0.1rem;
	width: 2rem !important;
	height: 2rem !important;
	stroke: currentColor !important;
}
/*  reset ------- */
.btn {
	--btn-h: 4rem;
	--btn-outline: 0.2rem;
	--btn-font: var(--font);
	--btn-calc-h: calc(var(--btn-h) - var(--btn-outline) * 2);
	--btn-hover: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));

	position: relative;
	margin: 0 0.8rem 0.8rem 0;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	zoom: 1;
	border: none transparent;
	font: var(--h4) var(--btn-font);
	border-radius: var(--border-r);
	color: currentColor;
	cursor: pointer;
}
/*  default */
.btn {
	line-height: var(--btn-h);
	height: var(--btn-h);
	padding: 0 1.6rem;
	transition: all 0.1s;
}
.btn:hover {
	transform: scale(0.98);
	mix-blend-mode: multiply;
	background-image: var(--btn-hover);
}
/*  optional */
.btn[outline] {
	line-height: var(--btn-calc-h);
	height: var(--btn-calc-h);
	border: var(--btn-outline) solid currentColor;
	background-color: white;
	color: currentColor;
}
/*  links ------------------------------------- */
a {
	position: relative;
	padding: 0 0 1px 0;
	/* border-bottom: 1px solid currentColor; */
	color: var(--prime);
	/* transition: color .2s, border .2s, padding .2s; */
}
/* a:hover  {
	color: var(--flash);
} */
a:hover {
	/* padding: 0; */
	/* border-bottom: 2px solid currentColor; */
}
a.no-underline {
	border-bottom: none;
	padding: 0;
}
/* a:hover:not(.disabled) > .icon { stroke: var(--flash) } */
/*  lists ---------------------------------- */
.listify ol,
.listify ul {
	--list-padding: 2.9rem;

	list-style: none;
	color: currentColor;
	margin-left: var(--list-padding);
}
.listify ol > li,
.listify ul > li {
	max-width: calc(var(--linemax) - var(--list-padding));
	line-height: 1.5;
	margin: 0 0 0.5em 0;
}
.listify ul > li:before {
	content: '';
	position: absolute;
	margin-top: 1.1rem;
	margin-left: -1.8rem;
	background-color: var(--second);
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 2px;
	opacity: 0.7;
}
.listify ol {
	list-style: decimal;
}
/*  tables --------------------------------- */
table {
	width: 100%;
	font-size: var(--h5);
}
td,
th {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 0.4rem 0.8rem 0.4rem 0;
}
table code,
table span {
	white-space: pre;
}
/*	helper styles -------------------------- */
.flex-auto {
	flex: 1 0 auto;
}
.py0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.legend,
figcaption,
.post aside {
	max-width: none;
	margin: 0 auto;
	padding: 1.6rem 0 0 0.8rem;
	font: 1.2rem/1.6 var(--font-mono);
}
/* visually hidden, but accessible to assistive tech */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
:root {
	--code-bg: var(--back-light);
	--code-base: hsl(45, 7%, 35%);
	--code-comment: hsl(0, 0%, 41%);
	--code-keyword: hsl(204, 88%, 35%);
	--code-function: hsl(19, 67%, 44%);
	--code-string: hsl(41, 37%, 38%);
	--code-number: hsl(120, 100%, 25%);
	--code-template-string: hsl(2, 80%, 47%);
	--code-tags: var(--code-function);
	--code-important: var(--code-string);
}
pre {
	tab-size: 2;
	-moz-tab-size: 2;
}
.code-block pre {
	background-color: var(--code-bg);
	color: var(--code-base);
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0 0 1rem 0;
	font-size: 14px;
}
.code-block pre code {
	color: var(--code-base);
}
.token {
	color: var(--code-base);
}
.token.tag,
.token.attr-value .attr-equals {
	color: var(--code-function);
}
.token.string,
.token.interpolation-punctuation,
.token.attr-value,
.token.inserted {
	color: var(--code-string);
}
.token.builtin,
.token.function {
	color: var(--code-function);
}
.token.keyword,
.token.boolean {
	color: var(--code-keyword);
}
.token.comment {
	color: var(--code-comment);
}
.token.deleted {
	/* background-color: #fc9b9b;
				color: #333; */
	color: #fc9b9b;
}
.token.template-string .interpolation-punctuation,
.token.template-string .string {
	color: var(--code-template-string);
}
main.svelte-xux67t.svelte-xux67t{display:flex;flex-direction:column;width:100%;height:100vh;max-width:1824px;margin:0 auto;box-sizing:border-box}footer.svelte-xux67t.svelte-xux67t{display:flex;flex-direction:column;justify-content:center;align-items:center;padding:8px}footer.svelte-xux67t a.svelte-xux67t{font-weight:bold}@media(min-width: 480px){footer.svelte-xux67t.svelte-xux67t{padding:8px 0}}